GITHUB_TOKEN=token
EMAIL_SERVICE=Gmail # visit https://nodemailer.com/smtp/well-known-services for a list of supported services
EMAIL_SERVICE_USERNAME=username@gmail.com
EMAIL_SERVICE_PASSWORD=password
