PORT=3000
DATABASE_URL=postgres://postgres:password@localhost:5432/db_name
GITHUB_TOKEN=token

EMAIL_SERVICE=Gmail # visit https://nodemailer.com/smtp/well-known-services for a list of supported services
EMAIL_SERVICE_USERNAME=username@gmail.com
EMAIL_SERVICE_PASSWORD=password

NOTIFICATION_TOKEN_SECRET=secret

REDIS_URL=redis://localhost:6379

API_KEY=secret_api_key